*.egg-info
*.pot
*.py[co~]
.tox/
.venv*/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
prod/local-lib-python3.5-dist-packages/
prod/lib/
prod/lib2/
crud/
*#*#
.#*
*.tgz
older/
bogus.bogus/
prod/crestoncurling.com/
fonts/fonts*
*.pem
.python-version
prod/certificates
*.old
crud
splog*
aaa
sss
prod/log2ram
prod/zram-config
prod/dependencies
*.log
prod/CCC
*DEBUG*
Pipfile
*db/draw.json
*.gz
*~
*.deprecated
*.key
*.csr
rpi-rgb-led-matrix/