<div class="display-view d-none" id="adminSecret">
   {% if type == "display" %}
      {{ navPanel("adminSecret", "admin" , "Admin - Shared Secret", upToFunc="club_verifyLoggedIn", backToFunc="club_verifyLoggedIn" ) }}
   {% else %}
      {{ navPanel("adminSecret", "admin" , "Shared Secret - " ~ name, upToFunc="club_verifyLoggedIn", backToFunc="club_verifyLoggedIn", upTop="breaktimerAdmin" ) }}
   {% endif %}
   <center>
      When you change the secret key you will need to do it on all
      the displays and break/rock timers. If you are setting the secret up for the first time
      ensure that all displays and break/rock timers are running, select "select all", enter the secret code and press set.
      If you need to change a secret code you can select the devices to change by touching them.
   </center>

   <div class="container">
      <div class="row justify-content-center mt-3">
	 <div class="col-auto">
	    <label for="adminSecret-secret-key" class="col-form-label">Secret Key:</label>
         </div>
	 <div class="col-auto">
	    <input type="text" class="form-control check-none-empty" placeholder="Enter Secret Key" id="adminSecret-secret-key" required>
         </div>
      </div>
      <div class="row justify-content-center mt-3">
         <div class="col-auto" >
            <button type="submit"
                    class="btn btn-primary adminSecret-submit-target"
                    id="adminSecret-submit"
                    onclick="adminSecret_set()">
               Set
            </button>
         </div>
      </div>
      <div class="d-flex justify-content-evenly align-items-center mt-4">
         <hr class="flex-grow-1 mt-1 divider"" />
         <div class="col-auto px-3" onclick="adminSecret_selectAll()" >
            <h3>Select All</h3>
         </div>
         <hr class="flex-grow-1 mt-1 divider"" />
         <div class="col-auto px-3"  onclick="adminSecret_unselectAll()">
            <h3>Unselect All</h3>
         </div>
         <hr class="flex-grow-1 mt-1 divider"" />
      </div>
      <div class="row justify-content-evenly mt-3" id="adminSecret-selectableIcons">
      </div>
      <div id="adminSecret-msg">
      </div>
   </div>
</div>
<script>
var adminSecret_doLoginRedirect = false;

 function adminSecret_selectAll() {
    $(".adminSecret-iconChecked").prop("checked", true);
 }

 function adminSecret_unselectAll() {
    $(".adminSecret-iconChecked").prop("checked", false);
 }
 
 function adminSecret_successful() {
    if (adminSecret_doLoginRedirect) {
       window.location.reload(true);
    }
 }

 function adminSecret_response(name, deviceIp, r) {
    if (ip == deviceIp) {
       logoutRecord();
    }

    if (r.rc) {
       $("#adminSecret-msg").append(`<div>${htmlToText(name)}: ${htmlToText(deviceIp)}; ${htmlToText(r.msg)}</div>`)
       waitForRemote(`${deviceIp}`, "#adminSecret-msg", `restarting ${name}`, 15, adminSecret_successful)
    } else {
       $("#adminSecret-msg").append(`<div>${htmlToText(name)}: ${htmlToText(ip)}; ${htmlToText(r.msg)}</div>`)
    }
 }

 function adminSecret_set() {
    let secretKey = $("#adminSecret-secret-key").val();
    $("#adminSecret-msg").empty()

    getSelectedIconList("adminSecret-iconChecked")
                         .each(function (i) {
                            let ip = this.dataset.icondataip;
                            let name = this.dataset.icondataname;
                            setSecretKey(ip, secretKey)
                               .done((res) => adminSecret_response(name, ip, res))
                               .fail(() => adminSecret_response(name, ip, {rc: false, msg: "failed to contact"}))
                         })
 }

 function adminSecret_directShow(name, ip) {
    adminSecret_getDevices();
    $("#adminSecret-title").text("Set Shared Secret - " + name);
    $(".nav-up").hide();
    $(".nav-back").hide();
    $("#adminSecret").removeClass("d-none");
 }
 
 function adminSecret_addDevice(p, i) {
    addSelectableIcon("#adminSecret-selectableIcons",
                      `adminSecret-selectableIcons${i}`,
                      "adminSecret-iconChecked",
                      p.name,
                      p.type == "display" ? "display.svg" : "stopwatch.svg",
                      p,
                      i > 0 && (i % 2 == 0))
 }

 function adminSecret_verifyForSet() {
    let enable = false;

    if ($("#adminSecret-secret-key").val().trim() != "" ) {
       let checkedBoxes = getSelectedIconList("adminSecret-iconChecked");
       if (checkedBoxes.length > 0) {
          enable = true;
       }
    }

    enableField(enable, "#adminSecret-submit")
 }

 function  adminSecret_getDevices() {
    $('#adminSecret-selectableIcons').empty();
    if ("{{type}}" != "display" || setupStage == 0) {
       adminSecret_addDevice({type:"{{type}}" == "display" ? "display" : "timer",
                              name: "{{name}}",
                              ip: "{{ip}}"});
       adminSecret_selectAll();
       adminSecret_doLoginRedirect = setupStage == 0;
    }
    {% if type == "display" %}      
    else {
       getDevicesAjax()
          .done(function(response) {
             response.displays.concat(response.sensors).forEach(adminSecret_addDevice);
             $(".adminSecret-iconChecked").on("change",  adminSecret_verifyForSet);
          })
    }
    {% endif %}
    $(".adminSecret-iconChecked").on("change",  adminSecret_verifyForSet);
    $("#adminSecret-secret-key")
       .on("input", adminSecret_verifyForSet)
       .on("keyup", adminSecret_verifyForSet);
    adminSecret_verifyForSet();
 }
 
 function adminSecret_enter(iconBtn) {
    $("#adminSecret-msg").empty()
    $("#adminSecret-secret-key").val("")
    adminSecret_verifyForSet()
    adminSecret_getDevices();
 }

 function adminSecret_exit() {
 }
</script>
