<div class="display-view d-none" id="adminMemoryDisplay">
   {{ navPanel("adminMemoryDisplay", "adminMemory" , "Debugging - Memory", idTitle="adminMemoryDisplay-title") }}
   <div class="container">
      <div class="row justify-content-center">
      	 <div class="col-11 display-table">
	    <table class="table  table-striped no-more-tables-sm" id="adminMemoryDisplay-table" >
	       <thead class="thead-light">
	       </thead>
	       <tbody>
	       </tbody>
	    </table>
	 </div>
      </div>
   </div>
</div>
<script>
 function adminMemoryDisplay_refresh(ip, ) {
    emptyTable("adminMemoryDisplay-table")
    jsonCall('adminMemory', `{{scheme}}://${ip}:{{port}}/adminmemory`, {}, {method:"GET"})
       .done(function(response) {	     
          renderTableData("adminMemoryDisplay-table", response.headers, response.data);
       })
 }
 
 function adminMemoryDisplay_enter(iconBtn) {
    let ip = iconBtn.dataset.icondataip
    let name = iconBtn.dataset.icondataname
    
    $("#adminMemoryDisplay-title").text("Memory - " + name);
    adminMemoryDisplay_refresh(ip);
 }
 
 function adminMemoryDisplay_exit() {
 }
</script>
