<div class="display-view d-none" id="adminOrganization">
   {{ navPanel("adminOrganization", "admin" , "Organization" ~ name, upTop="breaktimerAdmin") }}
   <div class="container mt-3 mb-3">
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-organization" class="form-label">Organization:</label>
	    <input type="text" name="organization" class="form-control" id="adminOrganization-organization">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-unit" class="form-label">Unit</label>
	    <input type="text" name="unit" class="form-control" id="adminOrganization-unit">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-address" class="form-label">Address</label>
	    <input type="text" name="address" class="form-control" id="adminOrganization-address">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-city" class="form-label">City</label>
	    <input type="text" name="city" class="form-control" id="adminOrganization-city">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-region" class="form-label">Region</label>
	    <input type="text" name="region" class="form-control" id="adminOrganization-region">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-country" class="form-label">Country</label>
	    <input type="text" name="country" class="form-control" id="adminOrganization-country">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="email" class="form-label">email</label>
	    <input type="text" name="email" class="form-control" id="adminOrganization-email" value="{{email}}">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-domain" class="form-label">Domain</label>
	    <input type="text" name="domain" class="form-control" id="adminOrganization-domain" value="{{domain}}">
	 </div>
      </div>
      <div class="row my-1 justify-content-center">
	 <div class="col-auto">
	    <label for="adminOrganization-hosts" class="form-label">Hosts</label>
	    <textarea type="text" rows="4" name="hosts" class="form-control" id="adminOrganization-hosts">{{hosts}}</textarea>
	 </div>
      </div>

      <hr class="divider">
      
      <div class="row justify-content-center">
	 <div class="col-auto">
	    <button type="submit"
                    id="adminOrganization-btn-save"
                    class="btn btn-primary submit-target"
                    onclick="adminOrganization_save()">
               Save
            </button>
	 </div>
      </div>		
   </div>

</div>
<script>
 function adminOrganization_save() {
    settings = gatherSettings("adminOrganization");
    
    setOrganization(settings)
 }
 function adminOrganization_enter() {
    getOrganization()
       .done(res => loadSettings("adminOrganization", res))
 }

 function adminOrganization_exit() {
 }
</script>
