<div id="adminDebug" class="display-view d-none">
   {{ navPanel("adminDebug", "clubAdmin", "Admin - Debugging") }}
   <div class="row justify-content-evenly">
      {{ actionIcon("Show Versions", "file-ruled", "panelNavigate('adminShowVersions')") }}
      {{ actionIcon("PTPD Offsets", "file-ruled", "panelNavigate('adminPTPDOffset')") }}
   </div>
   <div class="row justify-content-evenly">
      {{ actionIcon("PTPD Status", "file-ruled", "panelNavigate('adminPTPDStatus')") }}
      {{ actionIcon("PTPD Stats", "file-ruled", "panelNavigate('adminPTPDStats')") }}
   </div>
   <div class="row justify-content-evenly">
      {{ actionIcon("PTPD Logs", "file-ruled", "panelNavigate('adminPTPDLogs')") }}
      <div class="col-3 col-md-2">
      </div>
   </div>
</div>

<script>
 function adminDebug_enter() {
 }
 
 function adminDebug_exit() {
 }
</script>
