<div id="breaktimerAdmin" class="display-view d-none" >
   {{ navPanel("", "", "Break Timer - " ~ name) }}
   <div class="row justify-content-evenly">
      {{ actionIcon("About", "info-circle.svg", "panelNavigate('clubAbout')" ) }}
      {{ actionIcon("Training", "trophy.svg", "panelNavigate('deviceTrainingList')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Logs", "file-ruled.svg", "panelNavigate('adminLogsDisplay')") }}
      {{ actionIcon("Logout", "shield-slash.svg", "panelNavigate('clubLogout')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Password", "lock.svg", "panelNavigate('clubPassword')" ) }}
      {{ actionIcon("Shared Secret", "incognito.svg", "panelNavigate('adminSecret')") }}
      <div class="w-100"></div>
      {{ actionIcon("Setup SSL", "key.svg", "panelNavigate('adminSSL')") }}
      {{ actionIcon("Hardware", "motherboard.svg", "panelNavigate('adminHardwareSettings')") }}
   </div>
</div>

<script>
 function club_enter() {
    $("#club-user").text(loginInfo.user);
 }

 function breaktimerAdmin_exit() {
 }
</script>
