<div class="display-view d-none" id="clubSettings">
   {{ navPanel("clubSettings", "clubMore" , "Club - Settings") }}
   <div class="container mt-3 mb-3">
     <div class="row">
	   <div class="col-7 col-md-3">
	     <label for="clubSettings-welcomeMessage" >Welcome Message:</label>
       </div>
       <div class="col-12 col-md-8">
	     <input type="text" class="form-control" id="clubSettings-welcomeMessage" value="">
	   </div>
     </div>
     <div class="row mt-2">
       <div class="col-8 col-md-9">
	     <label for="clubSettings-blankTime" >Clock Blank Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-blankTime" value=""
                data-verify-type="time">
	   </div>
     </div>
     <hr class="divider">
     <div class="row mt-2">
       <div class="col-8 col-md-9">
	     <label for="clubSettings-teamTime" >Per Team Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-teamTime" value=""
                data-verify-type="time">
       </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-intermissionLength" >Intermission:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-intermissionLength" value=""
                data-verify-type="time">
       </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-numberOfTimeouts" >Timeout Number:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-numberOfTimeouts" value=""
                data-verify-type="int">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-timeoutLength" >Timeout Length:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-timeoutLength" value=""
                data-verify-type="time">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-extraEndTime" >Extra End Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class=" form-control clubSettings-check" id="clubSettings-extraEndTime" value=""
                data-verify-type="time">
       </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-betweenEndTime clubSettings-check" >Between End Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-betweenEndTime" value=""
                data-verify-type="time">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-scrollTeamsSeparator" >Scrolling Teams Separator:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control " id="clubSettings-scrollTeamsSeparator" value="">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-largeActiveTeamTimer" >Large Active Team Timer:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control " id="clubSettings-largeActiveTeamTimer" value="">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-largeStoppedTeamTimer" >Large Stopped Team Timer:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control" id="clubSettings-largeStoppedTeamTimer" value="">
	   </div>
     </div>
     <hr class="divider">
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-gameTime" >Game Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-gameTime" value=""
                data-verify-type="time">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-8 col-md-9">
	     <label for="clubSettings-finishedMessageDisplayTime" >Finish Message Display Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-finishedMessageDisplayTime" value=""
                data-verify-type="time">
	   </div>
     </div>
     <div class="row">
       <div class="mt-2 col-8 col-md-3">
	     <label for="clubSettings-finishedMessageColour" >Finished Message:</label>
       </div>
	   <div class="mt-2 col-4 col-md-2">
	     {{macros.colorSelector(colours, "clubSettings-finishedMessageColour", "clubSettings-finishedMessageColour", default=finishedMessageColour)}}
       </div>
	   <div class="mt-2 col-12 col-md-6">
	     <input type="text" id="clubSettings-finishedMessage" class="form-control" value="">
       </div>
     </div>
     <div class="row">
	   <div class="mt-2 col-8 col-md-9">
	     <label for="clubSettings-lastEndMessageDisplayTime" >Last End Display Time:</label>
       </div>
       <div class="mt-2 col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-lastEndMessageDisplayTime" value=""
                data-verify-type="time">
	   </div>
	   <div class="mt-2 col-8 col-md-3">
	     <label for="clubSettings-lastEndMessageColour" >Last End Message:</label>
       </div>
       <div class="mt-2 col-4 col-md-2">
	     {{macros.colorSelector(colours, "clubSettings-lastEndMessageColour", "clubSettings-lastEndMessageColour", default=lastEndMessageColour)}}
       </div>
	   <div class="mt-2 col-12 col-md-6">
	     <input type="text" id="clubSettings-lastEndMessage" class="form-control" value="">
       </div>
     </div>

     <hr class="divider">
     <div class="row mt-2">
	   <div class="col-7 col-md-9">
	     <label for="clubSettings-defaultPINExpireTime" >PIN Expire Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-defaultPINExpireTime" value=""
                data-verify-type="time">
	   </div>
     </div>
     <hr class="divider">
     <div class="row mt-2">
	   <div class="col-7 col-md-9">
	     <label for="clubSettings-breakFilterTime" >Break Timer Filter Time:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-breakFilterTime" value=""
                data-verify-type="time">
	   </div>
     </div>
     <div class="row mt-2">
	   <div class="col-7 col-md-9">
	     <label for="clubSettings-rockCircumference" >Rock Circumference(mm):</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control clubSettings-check" id="clubSettings-rockCircumference" value=""
                data-verify-type="int">
	   </div>
     </div>
     <hr class="divider">
     <div class="row mt-2">
	   <div class="col-7 col-md-9">
	     <label for="clubSettings-ipOnStart" >Show IP at Start:</label>
       </div>
       <div class="col-4 col-md-2">
	     <input type="text" class="form-control" id="clubSettings-ipOnStart" value="">
	   </div>
     </div>
     <hr class="divider">
     <div class="row">
	   <div class="col-auto">
	     <button type="submit" id="clubSettings-btn-save" onclick="clubSettings_save()" class="btn btn-outline-dark clubSettings-submit-target">Save</button>
	   </div>
     </div>
   </div>
</div>
<script>
 function clubSettings_save() {
    settings = gatherSettings("clubSettings");
    
    setDefaultsAjax(settings)
       .done(function() {
          panelNavigate("clubMore", null, true)
       })

 }
 
 function clubSettings_enter() {
    enableFieldChecking(".clubSettings-check", "#clubSettings-btn-save")
    getDefaultsAjax(ip, false)
       .done(function(response) {
         loadSettings("clubSettings", response);
         enableFieldChecking(".clubSettings-check", "#clubSettings-btn-save")
       })
 }

 function clubSettings_exit() {
 }
</script>
