<div id="clubAdmin" class="display-view d-none">
   {{ navPanel("clubAdmin", "club", "Admin") }}
   <div class="row justify-content-evenly">
      {{ actionIcon("Shutdown<br>Restart<br>Reboot", "bootstrap-reboot.svg", "panelNavigate('adminShutdown')") }}
      {{ actionIcon("Set Time", "clock.svg", "panelNavigate('adminSetClock')") }}
      <div class="w-100"></div>
      {{ actionIcon("Update", "arrow-clockwise.svg", "panelNavigate('adminUpdate')") }}
      {{ actionIcon("Users", "people.svg", "panelNavigate('adminUsers')") }}
      <div class="w-100"></div>
      {{ actionIcon("Debugging", "bug.svg", "panelNavigate('adminDebug')") }}
      {{ actionIcon("Sheet Config", "layout-three-columns.svg", "panelNavigate('adminSheets')") }}
      <div class="w-100"></div>
      {{ actionIcon("Organization", "person-check.svg", "panelNavigate('adminOrganization')") }}
      {{ actionIcon("Setup SSL", "key.svg", "panelNavigate('adminSSL')") }}
      <div class="w-100"></div>
      {{ actionIcon("Hardware", "motherboard.svg", "panelNavigate('adminHardware')") }}
      {{ actionIcon("Shared Secret", "incognito.svg", "panelNavigate('adminSecret')") }}
      <div class="w-100"></div>
      {{ actionIcon("Logs", "file-ruled.svg", "panelNavigate('adminLogs')") }}
      {{ actionIcon("Memory", "memory.svg", "panelNavigate('adminMemory')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Goto Device", "arrow-up-right.svg", "panelNavigate('adminGotoDevice')") }}
      
   </div>
</div>

<script>
 function clubAdmin_enter() {
 }

 function clubAdmin_exit() {
 }
</script>

