<div class="display-view d-none" id="clubCompetition">
   {{ navPanel("clubCompetition", "club" , "Club - Competition") }}
   <div class="container mb-3 mt-3">
      <div class="row">
	 <div class="col-auto">
	    <label for="clubCompetition-message">Message:</label>
	 </div>
      </div>				
      <div class="row mb-1"">
	 <div class="col-6">
	    <input type="text" class="form-control mr-sm-4" id="clubCompetition-message" value="">
	 </div>
	 <div class="col-4 col-md-2">
	    {{macros.colorSelector(colours, "clubCompetition-messageColour", "clubCompetition-messageColour")}}
         </div>
	 <div class="col-auto">
	    <button type="button" id="clubCompetition-btn-msg" class="btn btn-outline-dark icon-button icon-mirror-h ml-2" onclick='MessageAll($("#clubCompetition-message").val(),$("#clubCompetition-messageColour").val())'>{{icon("reply-all")}}</button>
	 </div>
      </div>
      <div class="row mb-1">
	 <div class="col-5">
	    <label for="clubCompetition-teamTime" class="col-form-label">Per Team Time:</label>
	    <input type="text" class="form-control clubCompetitiion-check-time" id="clubCompetition-teamTime" value=""
               data-verify-type="time">
	 </div>
	 <div class="col-4 offset-1 ml-2">
	    <label for="clubCompetition-teamColour" class="col-form-label" >Team Colour:</label>
	    {{macros.colorSelector(colours, "clubCompetition-teamColour", "clubCompetition-teamColour", extra="board", default="white")}}
	 </div>
      </div>
      <div class="row">
	 <div class="col-auto">
	    <label for="clubCompetition-intermissionLength" class="col-form-label">Intermission:</label>
         </div>
      </div>
      <div class="row mb-1">
	 <div class="col-auto col-md-2">
	    <input type="text" class="form-control clubCompetitiion-check-time" id="clubCompetition-intermissionLength" value="{{intermissionLength}}"
               data-verify-type="time">
	 </div>
	 <div class="col-auto ml-1">
	    <div class="form-control unpadded-btn-group">
	       <button type="button" id="clubCompetition-btn-clearAll" class="icon-button btn btn-outline-dark clubCompetitiion-submit-target me-3" onclick='clubCompetition_clearAll();'>{{icon("backspace")}}</button>
	       <button type="button" id="clubCompetition-btn-setAll" class="disabled icon-button btn btn-outline-dark clubCompetitiion-submit-target ms-1" onclick="clubCompetition_setAll()">{{icon("box-arrow-up-right")}}</button>
	    </div>
	 </div>
      </div>
      {% for s in sheets %}
	 {% if loop.first %}
	    <hr class="divider">
	 {% else  %}
	    <hr>
	 {% endif %}
	 {% if s.ip == "Unassigned" %}
	    <div class="row">
               <div class="col-auto ms-4 disabled xd-out">
	          {{s.name}}
	          <br>
	          Not configured
	       </div>
	    </div>
	 {% else %}			
	    <div class="row">
	       <div class="col-auto">
		  <a href="javascript:panelNavigate('sheetCompetitionTimer{{loop.index0}}')">{{s.name}}</a>
	       </div>
	    </div>
	    
	    <div class="row">
	       <div class="col-auto my-auto">
                  <img class="sm-rock-img" alt="{{s.topColour}} rock" src="/static/images/Curling-Rock-{{s.topColour}}-sm.png">
	       </div>
	       <div class="col-8 col-md-4">
               <div class="input-group">
                   <input type="text" class="form-control border-right-0 border clubCompetition-team" placeholder="top team ..." id="clubCompetition-team-top{{loop.index0}}">
                   <span class="input-group-text" onclick='$("#team_top_{{loop.index0}}").val("")'>{{icon("x")}}</span>
               </div>
           </div>
           <div class="col-auto ml-1">
		       <button type="button" id="btn_countdown_flip_{{loop.index0}}" class="icon-button btn btn-outline-dark clubCompetitiion-submit-target" onclick='flip("clubCompetition-team-top{{loop.index0}}","clubCompetition-team-bottom{{loop.index0}}");'>{{icon("shuffle")}}</button>
           </div>
	    </div>
	    
	    <div class="row mt-1">
	       <div class="col-auto my-auto">
               <img class="sm-rock-img" alt="{{s.bottomColour}} rock" src="/static/images/Curling-Rock-{{s.bottomColour}}-sm.png">
	       </div>
               <div class="col-8 col-md-4">
                  <div class="input-group">
                     <input type="text" class="form-control border-right-0 border clubCompetition-team" placeholder="bottom team ..." id="clubCompetition-team-bottom{{loop.index0}}">
                     <span class="input-group-text" onclick='$("#clubCompetition-team-bottom{{loop.index0}}").val("")'>{{icon("x")}}</span>
                  </div>
               </div>
	       
	       <div class="col-auto ml-1">
		  <button type="button" id="clubCompetition-btn-competition{{loop.index0}}" class="disabled icon-button btn btn-outline-dark clubCompetitiion-submit-target" onclick="clubCompetition_setup('{{s.ip}}', {{loop.index0}})">{{icon("box-arrow-up-right")}}</button>
	       </div>

	       <div class="col-auto pe-0">
		  <button type="button" id="clubCompetition-message-show{{s.ordinal}}" class="btn btn-outline-dark icon-button icon-mirror-h"
                          onclick='Message("{{s.ip}}", $("#clubCompetition-message").val(), $("#clubCompetition-messageColour").val())'>{{icon("reply")}}</button>
	       </div>

	    </div>
	 {% endif %}
      {%endfor %}
   </div>
</div>
<script>
 function clubCompetition_setup(ip, i) {
    CompetitionSetup(ip, 
                     $("#clubCompetition-message").val(), 
                     $("#clubCompetition-teamTime").val(), 
                     $("#clubCompetition-intermissionLength").val(), 
                     $("#clubCompetition-teamColour").val(), 
                     $(`#clubCompetition-team-top${i}`).val(), 
                     $(`#clubCompetition-team-bottom${i}`).val())
 }
 function clubCompetition_clearAll() {
    $(".clubCompetition-team").val("");
 }

 function clubCompetition_checkActiveCallback(clubStatus, i, sheetStatus) {
    enableField(!sheetStatus.active, `#clubCompetition-btn-competition${i}`);

    enableField(clubStatus.active == -1, "#clubCompetition-btn-setAll");             
 }
 
 function clubCompetition_setAll() {
    for (p in peers) {
       peer = peers[p][0];
       if (peer != "Unassigned") {
	  CompetitionSetup(peer,
			   $("#clubCompetition-message").val(),
			   $("#clubCompetition-teamTime").val(),
			   $("#clubCompetition-intermissionLength").val(),
                           $("#clubCompetition-teamColour").val(),
			   $("#clubCompetition-team-top" + peers[p][1]).val(),
			   $("#clubCompetition-team-bottom" + peers[p][1]).val());
       }
    }	     
 }	 
 
 function clubCompetition_enter(draw) {
    startActivityCheckTimer(clubCompetition_checkActiveCallback) 
    getDefaultsAjax(ip, false)
       .done(function(response) {
          $("#clubCompetition-message").val(response.welcomeMessage);
          setColour("#clubCompetition-messageColour", "white");

          $("#clubCompetition-intermissionLength").val(response.intermissionLength);

          $("#clubCompetition-teamTime").val(response.teamTime);
          setColour("#clubCompetition-teamColour", "white");
       })

    if (draw) {
       $('#clubCompetition-teamColour').val(draw.colour);

       for (p in draw.sheets) {
	  $(`#clubCompetition-team-top${p}`).val(draw.sheets[p].team1);
	  $(`#clubCompetition-team-bottom${p}`).val(draw.sheets[p].team2);
       }

    } else {
       grabNamesFromPeers("#clubCompetition-team-top", "#clubCompetition-team-bottom");
    }
    enableFieldChecking(".clubCompetitiion-check-time", ".clubCompetitiion-submit-target");
 }

 function clubCompetition_exit() {
    stopActivityCheckTimer();
 }
</script>
