<div class="display-view d-none" id="clubColours">
   {{ navPanel("clubColours", "club" , "Club - Colours") }}
   <div class="container mb-3">
      <div class="row mb-3 mt-3 justify-content-center">
	 <div class="col-auto">
            Add Colour
	    <button type="button" class="btn btn-warning btn " onclick="clubColours_addNewColour()">
               <i class="fas fa-plus"></i>
            </button>
	 </div>
	 
      </div>
      <div class="row justify-content-center">
	 <div class="col-auto">
	    <table class="table table-striped table-sm">
               <thead>
	          <tr>
		     <th>Delete</th>
		     <th>Colour</th>
		     <th>Red - Green - Blue</th>
	          </tr>
               </thead>
               <tbody id="clubColours-colourTable">
               </tbody>
	    </table>
	 </div>
      </div>
      <div class="row justify-content-center">
	 <div class="col-auto">
	    <button type="submit" id="clubColours-btn-submit" class="btn btn-primary disabled" onclick="clubColours_saveColours()">Save</button>
	 </div>
      </div>
   </div>
</div>
<script>
 var clubColours_nextColour = 0;

 function clubColours_addNewColour() {
    overlayShow("clubColoursAdd", clubColours_getColours())
 }
 
 function clubColours_showColour(e) {
    let id = e.target.id.substr(13);
    let red = $("#clubColours-r" + id).val();
    let green = $("#clubColours-g" + id).val();
    let blue = $("#clubColours-b" + id).val();
    
    if (red >= 0 && red <= 255 &&
	green >= 0 && green <= 255 &&
	blue >= 0 && blue <= 255 ) {

       jsonCall("showColour", "{{scheme}}://{{ip}}/colours/show",
		{red: red,
		 green: green,
		 blue: blue},
                {});
    }
 }

 function clubColours_monitorChanges() {
    $(".clubColours-colour-part").on("input", clubColours_showColour)
		                 .on("focus", clubColours_showColour)
                                 .on("change", () => $("#clubColours-btn-submit").removeClass("disabled"));

    $(".clubColours-check").on("change", () => $("#clubColours-btn-submit").removeClass("disabled"));
 }

 function clubColours_displayColour(colour, red, green , blue) {
    let i = clubColours_nextColour++;
    $('#clubColours-colourTable').append(`
    <tr id="clubColours_row${i}">
    <td>
    <input type="checkbox" class="clubColours-check" id="clubColours-delete${i}" data-sequence="${i}" value=""/>
    </td>
    <td>
    <input type="hidden" id="clubColours-colour${i}" value="${colour}"/>
    ${colour}
    </td>
    <td>
    <div class="input-group">
    <input type="number" class="form-control clubColours-colour-part" min="0" max="255" id="clubColours-r${i}" value="${red}">
    <input type="number" class="form-control clubColours-colour-part" min="0" max="255" id="clubColours-g${i}" value="${green}">
    <input type="number" class="form-control clubColours-colour-part" min="0" max="255" id="clubColours-b${i}" value="${blue}">
    </div>
    </td>
    </tr>`);

 }
 
 function clubColours_showFromOverlay(data) {
    if ( data === null ) {
       return;
    }
    clubColours_displayColour(data.name, data.red, data.green , data.blue)
    $("#clubColours-btn-submit").removeClass("disabled");
    clubColours_monitorChanges();
 }

 function clubColours_getColours() {
    let activeColours = $('.clubColours-check:checkbox:not(:checked)');
    let colours = []
    
    for (let ac = 0; ac < activeColours.length; ac++) {
       let i = activeColours[ac].dataset.sequence
       
       let colour = [$(`#clubColours-colour${i}`).val(), 
                     [$(`#clubColours-r${i}`).val(),
                      $(`#clubColours-g${i}`).val(),
                      $(`#clubColours-b${i}`).val()]]
       colours[ac] = colour
    }

    return colours;
 }
 
 function clubColours_saveColours() {
    saveColours(clubColours_getColours());
    let deletedColours = $('.clubColours-check:checkbox:checked');
    
    for (let ac = 0; ac < deletedColours.length; ac++) {
       let i = deletedColours[ac].dataset.sequence

       $(`#clubColours_row${i}`).remove()
    }
    $("#clubColours-btn-submit").addClass("disabled");
 }

 function clubColours_displayColours(res) {
    res.colours.forEach(function (c) {
       clubColours_displayColour(c[0], c[1][0], c[1][1] , c[1][2]);
    })

    clubColours_monitorChanges();
 }
 
 function clubColours_enter() {
    $("#clubColours-btn-submit").addClass("disabled");
    $('#clubColours-colourTable').empty();
    getColours()
       .done(clubColours_displayColours);
    
    $(".clubColours-colour-part").on("input", clubColours_showColour)
		                 .on("focus", clubColours_showColour);

 }

 function clubColours_exit() {
 }
</script>
