<div id="clubAdmin" class="display-view d-none">
   {{ navPanel("clubAdmin", "clubMore", "Admin") }}
   <div class="row justify-content-evenly">
      {{ actionIcon("Shutdown<br>Restart<br>Reboot", "bootstrap-reboot", "panelNavigate('adminShutdown')") }}
      {{ actionIcon("Set Time", "clock", "panelNavigate('adminSetClock')") }}
      <div class="w-100"></div>
      {{ actionIcon("Users", "people", "panelNavigate('adminUsers')") }}
      {{ actionIcon("Update", "arrow-clockwise", "panelNavigate('adminUpdate')") }}
      <div class="w-100"></div>
      {{ actionIcon("Sheet Config", "layout-three-columns", "panelNavigate('adminSheets')") }}
      {{ actionIcon("Organization", "person-check", "panelNavigate('adminOrganization')") }}
      <div class="w-100"></div>
      {{ actionIcon("Shared Secret", "incognito", "panelNavigate('adminSecret')") }}
      {{ actionIcon("Setup SSL", "key", "panelNavigate('adminSSL')") }}
      <div class="w-100"></div>
      {{ actionIcon("Hardware", "motherboard", "panelNavigate('adminHardware')") }}
      {{ actionIcon("Logs", "file-ruled", "panelNavigate('adminLogs')") }}
      <div class="w-100"></div>
      {{ actionIcon("Goto Device", "arrow-up-right", "panelNavigate('adminGotoDevice')") }}
      {{ actionIcon("Memory", "memory", "panelNavigate('adminMemory')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Debugging", "bug", "panelNavigate('adminDebug')") }}
      {{ actionIcon("JS Logs", "list-columns", "panelNavigate('adminJSLogs')") }}
   </div>
   <div class="row justify-content-evenly">
      <div class="col-auto" id="clubAdmin-msgs">
      </div>
   </div>
   
</div>

<script>
 function clubAdmin_enter() {
    $("#clubAdmin-msgs").html(`<b>User:</b> ${htmlToText(loginInfo.user)} ${window.innerWidth}x${window.innerHeight}`);
 }

 function clubAdmin_exit() {
 }
</script>

