<div class="display-view  d-none" id="clubCountdown">
   {{ navPanel("clubCountdown", "club" , "Club - Countdown") }}

   <div class="container">
      <div class="row">
         <div class="col-auto">
	    <label for="clubCountdown-welcomeMessage">Message:</label>
         </div>
      </div>				
      <div class="row mb-3">
         <div class="col-7">
	    <input type="text" class="form-control" id="clubCountdown-welcomeMessage" value="">
         </div>
         <div class="col-3 col-md-auto">
	    {{macros.colorSelector(colours, "clubCountdown-welcomeMessageColour", "clubCountdown-welcomeMessageColour")}}
         </div>
         <div class="col-auto">
	    <button type="button" id="clubCountdown-btn-msg" class="btn btn-outline-dark icon-button icon-mirror-h ml-2" onclick='MessageAll($("#clubCountdown-welcomeMessage").val(),$("#clubCountdown-welcomeMessageColour").val())'>{{icon("reply-all")}}</button>
         </div>
      </div>
      
      <div class="row">
         <div class="col-auto">
	    <label for="clubCountdown-finishedMessage">Finished Message:</label>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-7">
	    <input type="text" class="form-control" id="clubCountdown-finishedMessage" value="">
         </div>
         <div class="col-3 col-md-auto ml-1">
	    {{macros.colorSelector(colours, "clubCountdown-finishedMessageColour", "clubCountdown-finishedMessageColour")}}
         </div>
      </div>
      
      <div class="row">
         <div class="col-auto">
	    <label for="clubCountdown-lastEndMessage">Last End Message:</label>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-7">
	    <input type="text" class="form-control" id="clubCountdown-lastEndMessage" value="">
         </div>
         <div class="col-3 col-md-auto ml-1">
	    {{macros.colorSelector(colours, "clubCountdown-lastEndMessageColour", "clubCountdown-lastEndMessageColour")}}
         </div>
      </div>
      <div class="row">
         <div class="col-4 col-md-2">
	    <label for="clubCountdown-gameTime">Game Time:</label>
	    <input type="text" class="form-control clubCountdown-check-time" id="clubCountdown-gameTime" value="">
         </div>
         <div class="col-4 col-md-auto ml-2">
	    <label for="clubCountdown-teamColour">Team Colour:</label>
	    {{macros.colorSelector(colours, "clubCountdown-teamColour", "clubCountdown-teamColour", extra="board", default="white")}}
         </div>
         <div class="col-auto">
	    <label for="clubCountdown-btn-clearAll">&nbsp;</label>
	    <div class="form-control unpadded-btn-group ml-1">
	       <button type="button" id="clubCountdown-btn-clearAll" class="icon-button btn btn-outline-dark clubCountdown-submit-target mx-2" onclick='clubCountdown_clearAll();'>{{icon("backspace")}}</button>
	       <button type="button" id="clubCountdown-btn-setAll" class="disabled icon-button btn btn-outline-dark clubCountdown-submit-target mx-2" onclick="clubCountdown_setupAll();">{{icon("box-arrow-up-right")}}</button>
	       <button type="button" id="clubCountdown-btn-startAll" class="icon-button btn btn-outline-dark clubCountdown-submit-target mx-2" onclick="CountDownResumeAll();">{{icon("play-fill")}}</button>
	       <button type="button" id="clubCountdown-btn-pauseAll" class="icon-button btn btn-outline-dark clubCountdown-submit-target mx-2" onclick="CountDownPauseAll();">{{icon("pause-fill")}}</button>
	    </div>
         </div>
      </div>
      {% for s in sheets %}
         {% if loop.first %}
	    <hr class="divider">
         {% else  %}
	    <hr>
         {% endif %}
         {% if s.ip == "Unassigned" %}
	    <div class="row">
               <div class="col-auto ms-4 disabled xd-out">
	          {{s.name}}
	          <br>
	          Not configured
	       </div>
	    </div>
         {% else %}			
	    <div class="row">
	       <div class="col-auto">
	          <a href="javascript:panelNavigate('sheetCountdown{{loop.index0}}')">{{s.name}}</a>
	       </div>
	    </div>
	    
	    <div class="row mt-2">
	       <div class="col-12 row mb-2">
                  <div class="col-auto my-auto pe-0">
                     <img class="sm-rock-img" alt="{{s.topColour}} rock" src="/static/images/Curling-Rock-{{s.topColour}}-sm.png">
                  </div>
                  
                  <div class="col-7 col-md-5 pe-0" >
                     <div class="input-group">
                        <input type="text" class="form-control border-right-0 border clubCountdown-team" placeholder="top team ..." id="clubCountdown-team-top{{loop.index0}}">
                        <span class="input-group-text" onclick='$("#clubCountdown-team-top{{loop.index0}}").val("")'>
                           {{icon("x")}}
                        </span>
                     </div>
                  </div>
                  <div class="col-auto row pe-0">
                     <div class="col-auto my-auto pe-0">
	                <button type="button" id="clubCountdown-btn_flip{{loop.index0}}" class="icon-button btn btn-outline-dark clubCountdown-submit-target" onclick='flip("clubCountdown-team-top{{loop.index0}}","clubCountdown-team-bottom{{loop.index0}}");'>{{icon("shuffle")}}</button>
                     </div>
                     <div class="col-auto my-auto pe-0">
	                <button type="button" id="clubCountdown-btn-winner-top{{loop.index0}}" class="icon-button btn btn-outline-dark clubCountdown-submit-target" onclick='clubCountdown_showWinner({{loop.index0}}, "{{s.ip}}", "#clubCountdown-team-top{{loop.index0}}")'>{{icon("trophy")}}</button>
                     </div>
                  </div>
               </div>
            </div>
	    <div class="row">
	       <div class="col-12 row">
	          <div class="col-auto my-auto pe-0">
                     <img class="sm-rock-img" alt="{{s.bottomColour}} rock" src="/static/images/Curling-Rock-{{s.bottomColour}}-sm.png">
	          </div>
                  
                  <div class="col-7 col-md-5 pe-0">
                     <div class="input-group">
                        <input type="text" class="form-control border-right-0 border clubCountdown-team" placeholder="bottom team ..." id="clubCountdown-team-bottom{{loop.index0}}">
                        <span class="input-group-text" onclick='$("#clubCountdown-team-bottom{{loop.index0}}").val("")'>{{icon("x")}}</span>
                     </div>
                  </div>
                  <div class="col-auto row pe-0">
                     <div class="col-auto my-auto pe-0">
                        <button type="button" id="clubCountdown-btn-set{{loop.index0}}" class="disabled icon-button btn btn-outline-dark clubCountdown-submit-target" onclick="clubCountdown_setup('{{s.ip}}', {{loop.index0}})">{{icon("box-arrow-up-right")}}</button>
                        
                     </div>
                     <div class="col-auto my-auto pe-0">
	                <button type="button" id="clubCountdown-btn-winner-bottom{{loop.index0}}" class="icon-button btn btn-outline-dark clubCountdown-submit-target" onclick='clubCountdown_showWinner("{{loop.index0}}", "{{s.ip}}", "#clubCountdown-team-bottom{{loop.index0}}")'>{{icon("trophy")}}</button>
                     </div>
                  </div>
               </div>
            </div>
	    <div class="row mt-2">
	       <div class="col-12 row">
	          <div class="col-auto my-auto pe-0 invisible">
                     <img class="sm-rock-img" src="/static/images/Curling-Rock-red-sm.png">
	          </div>
                  
                  <div class="col-7 col-md-5 row">
                     <div class="col-auto">
	                <button type="button" id="clubCountdown-btn-start{{loop.index0}}" class="icon-button btn btn-outline-dark clubCountdown-submit-target" onclick='CountDownStart("{{s.ip}}")'>{{icon("play-fill")}}</button>
                     </div>
                     <div class="col-auto">
	                <button type="button" id="clubCountdown-btn-pause{{loop.index0}}" class="icon-button btn btn-outline-dark clubCountdown-submit-target" onclick='CountDownPause("{{s.ip}}")'>{{icon("pause-fill")}}</button>
                     </div>
                     <div class="col-auto pe-0">
	                <button type="button" id="clubCountdown-btn-lastEnd{{loop.index0}}" class="icon-button btn btn-outline-dark clubCountdown-submit-target" onclick='CountDownLastEnd("{{s.ip}}")'>LE</button>
                     </div>
                  </div>
                  <div class="col-auto ms-4" >
                     <button type="button" class="icon-button btn btn-outline-dark clubCountdown-submit-target" data-state="off" onclick="clubCountdown_onOff('{{loop.index0}}', '{{s.ip}}')">
                        {{icon("toggle-off", id="clubCountdown-btn-onOff" ~ loop.index0)}}
                     </button>
                  </div>
	       </div>
            </div>
         {% endif %}
      {%endfor %}
   </div>
</div>
<script>
 function clubCountdown_setup(ip, i) {
    CountDownSetup(ip, 
                   $("#clubCountdown-gameTime").val(), 
                   $("#clubCountdown-finishedMessage").val(), 
                   $("#clubCountdown-finishedMessageColour").val(), 
                   $("#clubCountdown-lastEndMessage").val(),
                   $("#clubCountdown-lastEndMessageColour").val(), 
                   $("#clubCountdown-teamColour").val(),
                   $(`#clubCountdown-team-top${i}`).val(),
                   $(`#clubCountdown-team-bottom${i}`).val())
 }
 
 function clubCountdown_setupAll() {
    for (let p in peers) {
       peer = peers[p][0];
       if (peer != "Unassigned") {
          clubCountdown_setup(peer, p) 
       }
    }	     
 }
 
 function clubCountdown_clearAll() {
    $(".clubCountdown-team").val("");
 }	 

 function clubCountdown_setState(id, state) {
    let btn = $(`#clubCountdown-btn-onOff${id}`);
    if (state == btn.data("state")) {
       return;
    }

    toggleIcon(btn, state == "off", "toggle-off", "toggle-on");
    btn.data("state", state);
 }

 function clubCountdown_onOff(id, ip) {
    let btn = $(`#clubCountdown-btn-onOff${id}`);
    DisplayBlank(ip, btn.data("state") != "off");
    sheetCheckActive(clubCountdown_activeCallback)
 }

 function clubCountdown_activeCallback(clubStatus, i, sheetStatus) {
    clubCountdown_setState(i, (!sheetStatus.alive) || sheetStatus.idle ? "off": "on")
    
    enableField(!sheetStatus.active, `#clubCountdown-btn-set${i}`);
    enableField(!sheetStatus.active, `#clubCountdown-btn-lastEnd${i}`);
    enableField(!sheetStatus.active, `#clubCountdown-btn-onOff${i}`);
    enableField(!sheetStatus.active, `#clubCountdown-btn-winner-top${i}`);
    enableField(!sheetStatus.active, `#clubCountdown-btn-winner-bottom${i}`);

    enableField(clubStatus.active == -1, "#clubCountdown-btn-setAll");
 }

 function clubCountdown_showWinner(id, ip, teamSelector) {
    let team = $(teamSelector).val()
    
    Message(ip, team);
 }
 
 function clubCountdown_enter(draw) {
    startActivityCheckTimer(clubCountdown_activeCallback) 

    getDefaultsAjax(ip, false)
       .done(function(response) {
          $("#clubCountdown-welcomeMessage").val(response.welcomeMessage);
          setColour("#clubCountdown-welcomeMessageColour", "white");
          $("#clubCountdown-finishedMessage").val(response.finishedMessage);
          setColour("#clubCountdown-finishedMessageColour", response.finishedMessageColour);
          $("#clubCountdown-lastEndMessage").val(response.lastEndMessage);
          setColour("#clubCountdown-lastEndMessageColour", response.lastEndMessageColour);
          $("#clubCountdown-gameTime").val(response.gameTime);
          setColour("#clubCountdown-teamColour", "white");
       })

    if (draw) {
       $('#clubCountdown-teamColour').val(draw.colour);

       for (p in draw.sheets) {
	  $(`#clubCountdown-team-top${p}`).val(draw.sheets[p].team1);
	  $(`#clubCountdown-team-bottom${p}`).val(draw.sheets[p].team2);
       }

    } else {
       grabNamesFromPeers("#clubCountdown-team-top", "#clubCountdown-team-bottom");
    }
    checkTime(".clubCountdown-check-time", ".clubCountdown-submit-target");
    
 }

 function clubCountdown_exit() {
    stopActivityCheckTimer();
 }

</script>
