<div id="club" class="display-view d-none" >
   {{ navPanel("", "", "Creston Curling Club") }}
   <div class="row justify-content-evenly">
      {{ actionIcon("Sheets", "layout-three-columns", "panelNavigate('sheets')" ) }}
      {{ actionIcon("Message", "chat-text", "panelNavigate('clubMessage')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Count Down", "hourglass-top", "panelNavigate('clubCountdown')" )  }}
      {{ actionIcon("Competition", "stopwatch", "panelNavigate('clubCompetition')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Elapsed", "clock-history", "panelNavigate('clubElapsed')" ) }}
      {{ actionIcon("Blank", "toggle-on", "panelNavigate('clubBlank')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Clock", "clock", "panelNavigate('clubClock')" ) }}
      {{ actionIcon("Training", "trophy", "panelNavigate('clubTraining')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("Kapow", "star", "panelNavigate('clubKapow')" ) }}
      {{ actionIcon("Draws", "list-ol", "panelNavigate('clubDraws')" ) }}
      <div class="w-100"></div>
      {{ actionIcon("More", "three-dots", "panelNavigate('clubMore')" ) }}
      {{ actionIcon("Admin", "shield-lock", "panelNavigate('clubAdmin')", id="club-admin-icon", class="security-adminOnly") }}
   </div>
</div>

<script>
 function club_enter() {
 }

 function club_exit() {
 }
</script>
