<div id="clubMore" class="display-view d-none">
   {{ navPanel("clubMore", "club", "More") }}
   <div class="row justify-content-evenly">
      {{ actionIcon("Clock Status", "question-lg", "panelNavigate('clubClockStatus')" ) }}
      {{ actionIcon("Settings", "gear", "panelNavigate('clubSettings')" ) }}
   </div>
   <div class="row justify-content-evenly">
      {{ actionIcon("Password", "lock", "panelNavigate('clubPassword')" ) }}
      {{ actionIcon("Pins", "pin", "panelNavigate('clubManagePins')")  }}
   </div>
   <div class="row justify-content-evenly">
      {{ actionIcon("Colours", "palette", "panelNavigate('clubColours')" ) }}
      {{ actionIcon("Logout", "shield-slash", "panelNavigate('clubLogout')" ) }}
   </div>
   <div class="row justify-content-evenly">
      {{ actionIcon("Admin", "shield-lock", "panelNavigate('clubAdmin')", id="club-admin-icon", class="security-adminOnly") }}
      {{ actionIcon("About", "info-circle", "panelNavigate('clubAbout')" ) }}
   </div>
</div>
<script>
 function clubMore_enter() {
 }

 function clubMore_exit() {
 }
</script>
