<div class="display-view d-none" id="clubPassword">
   {% if type == "display" %}
      {{ navPanel("clubPassword", "clubAdmin" , "Club - Password") }}
   {% else %}
      {{ navPanel("clubPassword", "clubAdmin" , " Password - " ~ name, upTop="breaktimerAdmin") }}
   {% endif %}
   <div class="row justify-content-center">
      <div class="col-6">
      <div class="row">
	 <div class="col-auto">
	    <h2> User: <span id="clubPassword-user"></span> </h2>
	 </div>
      </div>
      <div class="row">
	 <div class="col-12">
	    <label for="clubPassword-oldpassword">Old Password:</label>
	    <input type="password" class="form-control" id="clubPassword-oldpassword">
	 </div>
      </div>
      <div class="row mt-2">
	 <div class="col-12">
	    <label for="newpassword">New Password:</label>
	    <input type="password" class="form-control clubPassword-verify-password" id="clubPassword-newpassword">
	 </div>
      </div>
      <div class="row mt-2">
	 <div class="col-12">
	    <label for="rnewpassword">Re-type New Password:</label>
	    <input type="password" class="form-control clubPassword-verify-password" id="clubPassword-rnewpassword">
	 </div>
      </div>
      <div class="row mt-4">
	 <div class="col-2">
	    <button type="button"
                    class="btn btn-outline-dark clubPassword-submit-target disabled"
                    onclick="clubPassword_setPassword()"
            >
               Set
            </button>
	 </div>
      </div>
      <div class="row mt-4">
         <div class="col-auto" id="clubPassword-msg">
         </div>"
      </div>
   </div>
   </div>
</div>
<script>
 function clubPassword_setPassword() {
    let password =  $("#clubPassword-newpassword").val().trim();

    setPassword(loginInfo.user, password)
       .done(res => $("clubPassword-msg").text(res))
       .fail(() =>  $("clubPassword-msg").text("password change failed"))
 }
 
 function clubPassword_enter() {
    $("clubPassword-user").text(loginInfo.user)
    $('.clubPassword-verify-password').on('keyup', function(e) {
       let p1 = $("#clubPassword-newpassword").val().trim();
       let p2 = $("#clubPassword-rnewpassword").val().trim();

       if (p1 != p2 || p1.length < 5) {
	  $(".clubPassword-submit-target").addClass("disabled")
       } else {
	  $(".clubPassword-submit-target").removeClass("disabled")	     
       }
       
    });	
 }

 function clubTemplate_exit() {
 }
</script>
