<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/static/css/waitMe.css">
<script src="/static/js/waitMe.js"></script>
<script src="/static/js/utilscript.js"></script>
<link href="/static/css/defaultstyle.css" rel="stylesheet">
<link rel="stylesheet" href="/static/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/static/js/event-calendar.min.css">
<script src="/static/js/event-calendar.min.js"></script>

<style>
 {% for c in colours %}
 {% if c[1].red %}
 .bg-{{c[0]}} {
    background-color: rgb({{c[1].red}} {{c[1].green}} {{c[1].blue}});
 }
 .txt-{{c[0]}} {
    color: rgb({{c[1].red}} {{c[1].green}} {{c[1].blue}});
  }
 {% else %}
 .bg-{{c[0]}} {
    background-color: rgb({{c[1][0]}} {{c[1][1]}} {{c[1][2]}});
 }
 .txt-{{c[0]}} {
    color: rgb({{c[1][0]}} {{c[1][1]}} {{c[1][2]}});
  }
{% endif %}
 {% endfor %}
</style>
    


