{% macro colorSelector(colours,name, id, extra="",class="form-control", default="", selectParams="") %}
<select class="{{class}}" name="{{name}}" id="{{id}}" {{selectParams|safe}}>
    {% if extra != "" %}
      {% if default == "" or default == extra %}
        <option selected="selected" value="default">{{extra}}</option>
      {% else %}
        <option value="default">{{extra}}</option>
      {% endif %}
    {% endif %}
    {% if default == "white" or (default == "" and extra == "") %}
      <option  selected="selected" value="white">white</option>
    {% else %}
      <option value="white">white</option>
    {% endif %}  
    {% for c in colours %}
     {% if c[0] != "white" %}
      {% if c[0] == default %}
       <option selected="selected" value="{{c[0]}}">{{c[0]}}</option>
      {% else %}
       <option value="{{c[0]}}">{{c[0]}}</option>
      {% endif %}
     {% endif %}
    {% endfor %}
</select>
{% endmacro %}

{% macro isselected(v,c) %}
{% if v == c %}
selected
{% endif %}
{% endmacro %}

{% macro isdisabled(v,c) %}
{% if v == c %}
disabled
{% endif %}
{% endmacro %}

{% macro rockSelector(name, id, colour, extra) %}
<select class="form-control" name="{{name}}" id="{{id}}">
    <option class="textred" {{isselected(colour, 'red')}} value="red">red</option>
    <option class="textyellow" {{isselected(colour, 'yellow')}} value="yellow">yellow</option>
    <option class="textblue" {{isselected(colour, 'blue')}} value="blue">blue</option>
</select>
{% endmacro %}

{% macro navPanel(me, parent, title) %}
 <div class="row justify-content-center">
   <div class="col-12 col-md-8">
      <div class="row justify-content-evenly mt-2 mb-4 nav-panel">
         {% if me %}
            <div class="col-auto nav-back my-auto"
                 {% if kwargs.idBack %} id="{{kwargs.idBack}}" {% endif %}              
                 data-navto="{{parent}}"
                 {% if kwargs.backToFunc %} data-navtofunction="{{kwargs.backToFunc}}" {% endif %}                           
                 onclick="panelNavigateEv(this, true)">
               <img class="navIcon" src="/static/images/arrow-left-square.svg">
            </div>
         {% else %}
            <div class="col-2 nav-back my-auto invisible">
               <img class="navIcon" src="/static/images/arrow-left-square.svg">
            </div>        
         {% endif %}
         <div class="col-7 col-md-auto text-center">
            <h1 class="text-center nav-title "
                {% if kwargs.idTitle %} id="{{kwargs.idTitle}}" {% endif %}>{{title}}</h1>
         </div>
         {% if "noUp" not in kwargs or not kwargs.noUp %}
            <div class="col-auto nav-up my-auto"
                 {% if kwargs.idUp %} id="{{kwargs.idUp}}" {% endif %}              
                 {% if kwargs.upTop %} data-navto="{{kwargs.upTop}}" {% else %} data-navto="club" {% endif %}
                 {% if kwargs.upToFunc %} data-navtofunction="{{kwargs.upToFunc}}" {% endif %}                           
                 onclick="panelNavigateEv(this, true)">
               <img class="navIcon float-end" src="/static/images/arrow-up-square.svg">
            </div>
         {% endif %}
      </div>
   </div>
 </div>
{% endmacro %}
{% macro actionIcon(title, icon, action ) %}
   <div class="col-3 col-md-2 text-center mb-2 pt-2 
               {% if kwargs.unassigned %} xd-out {% endif %}
               {% if kwargs.disabled or kwargs.unassigned %} disabled {% endif %}"
        {% if kwargs.idActionIcon %} id="{{kwargs.idActionIcon}}" {% endif %}
        {% if kwargs.id %} id="{{kwargs.id}}" {% endif %}
        onclick="{{action|safe}}">
      <img class="actionIcon" {% if kwargs.idIcon %} id="{{kwargs.idIcon}}" {% endif %} src="/static/images/{{icon}}">
      <br>
      {% if kwargs.twoLineTitle %}
         <span> {{title|safe}} </span> <br>
         <span {% if kwargs.idTitle %} id="{{kwargs.idTitle}}" {% endif %}></span>
      {% else %}
         <span {% if kwargs.idTitle %} id="{{kwargs.idTitle}}" {% endif %}>{{title|safe}}</span>
      {% endif %}
   </div>
{% endmacro %}

{% macro selectableIcon(id, checkedClass, title, icon, data) %}
   <div class="col-auto text-center mb-4 selectable-icon-{{checkedClass}} 
               {% if kwargs.disabled or kwargs.unassigned %} disabled {% endif %}
               {% if kwargs.unassigned %} xd-out {% endif %}"
               id="{{id}}">
      <div class="selectable-icon-wrapper">
         <img class="selectable-icon"  id="iconId-{{id}}" src="/static/images/{{icon}}"/>
         <input class='selectable-icon-input {{checkedClass}}' 
                type="checkbox" 
                id="checkId-{{id}}"
                {% if kwargs.disabled or kwargs.unassigned %} disabled {% endif %}
                {% for n in data %}
                data-{{n}}="{{data[n]}}" 
                {% endfor %}
         >
         <label for="checkId-{{id}}"></label>
      </div>   
      <br>
      <span id="iconTitle-{{id}}" >{{title}}</span>
   </div>
{% endmacro %}

{% macro overlayNav(me, title) %}
   <div class="d-flex justify-content-center mt-2 mb-4 nav-panel">
      {% if me %}
         <div class="col-auto me-4 nav-back"
              {% if kwargs.idBack %} id="{{kwargs.idBack}}" {% endif %}              
              onclick="overlayHide('{{me}}', null)">
            <img class="navIcon" src="/static/images/x-square.svg">
         </div>
      {% endif %}
      <div class="col-auto text-center">
         <h1 class="text-center nav-title "
             {% if kwargs.idTitle %} id="{{kwargs.idTitle}}" {% endif %}>{{title}}</h1>
      </div>
   </div>            
{% endmacro %}
