<div id="sheetMessage" class="display-view d-none">
   {{ navPanel("sheetMessage", "sheet", "sheet - message") }}   
   <div class="row justify-content-center">
      <div class="col-auto mt-4">
	 <input type="text" class="form-control" id="sheetMessageText">
      </div>
      <div class="col-auto mt-4">
	 {{macros.colorSelector(colours, "sheetMessageColour", "sheetMessageColour")}}
      </div>
      <div class="col-auto mt-4">
	 <button type="button" onclick="sheetMessageSend('#sheetMessageText', '#sheetMessageColour')" class="icon-button icon-mirror-h btn btn-outline-dark">{{icon("reply")}}</button>
      </div>
   </div>
</div>
<script>
 var sheetMessageIp = ""
 var sheetMessageHandle = $('#sheetMessage');
 
 function sheetMessageSend(src, clr) {   
    Message(sheetMessageIp, $(src).val(), $(clr).val());
 }

 function sheetMessageSetup() {
    $('#sheetMessageText').val("");
    $('#sheetMessageColour').val("white").change();
 }

 {% for s in sheets %}
 function sheetMessage{{loop.index0}}_enter() {
    sheetMessageIp = "{{s.ip}}"    
    updateNavPanel(sheetMessageHandle, "sheetMessage{{loop.index0}}", "{{s.name}} - Message")
    sheetMessageSetup()
 }
 
 function sheetMessage{{loop.index0}}_exit() {
 }
 {% endfor %}
</script>
