<div id="sheetCountdownSetTime" class="display-view d-none">
   {{ overlayNav("sheetCountdownSetTime", "Countdown - Set Time") }}   
   <div class="container mt-4 justify-content-center">
      <div class="row justify-content-md-center">
	 <div class="col-auto">
	    <label for="sheetCountdownSetTime-time" class="col-form-label">Time:</label>
         </div>
	 <div class="col-auto">
	    <input type="text" class="form-control sheetCountdownSetTime-check-time" id="sheetCountdownSetTime-time"
               data-verify-type="time">
	 </div>
      </div>
      <div class="row justify-content-center mt-4">
	 <div class="col-auto">
	    <button type="button" class="btn btn-lg icon-button-lg btn-outline-dark" onclick="overlayHide('sheetCountdownSetTime')">{{icon("x")}}</button>
         </div>
         <div class="col-auto">
	    <button type="button" class="btn btn-outline-dark btn-lg icon-button-lg sheetCountdownSetTime-submit-target" onclick="sheetCountdownSetTime_setTime()">{{icon("box-arrow-up-right")}}</button>
         </div>
      </div>
   </div>
</div>

<script>
 function sheetCountdownSetTime_setTime() {
    overlayHide("sheetCountdownSetTime",
                {time: $("#sheetCountdownSetTime-time").val()});
 }
 
 function sheetCountdownSetTime_show(data) {
    $("#sheetCountdownSetTime-time").val(data.time)
    enableFieldChecking(".sheetCountdownSetTime-check-time", ".sheetCountdownSetTime-submit-target");
 }

</script>
